
.messages-container {
  display: flex;
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 10px;
  font-family: Roboto;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  right: 10px;
  top:10px;
  cursor: pointer;
}
